@import "src/app/app.component";

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  background: $header-bg;
}

.header-container {
  width: calc(100vw - 30px);
}

.header-nav-button {
  font-size: 15px;
  font-weight: bold;
  background: $btn-bg;

  &:hover {
    color: #e7e7e7;
    background: $btn-hover-bg;
  }
}



.logout {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 40px;
}

.header-title {
  height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;

  .mat-elevation-z8 {
    width: 50%;
    background: rgb(165, 191, 240);
    border: solid 1px rgb(70, 69, 69);
    border-bottom: none;
    border-radius: 2px;
  }
}
