<div class="form-wrapper container">
  <form [formGroup]="form" class="form" (ngSubmit)="signUpHandler()">
    <h3 class="form__title">Sign Up</h3>
    <mat-form-field appearance="fill">
      <input
        placeholder="Name"
        class="form__input"
        type="text"
        formControlName="name"
        autocomplete="off"
        appearance="outline"
        matInput
      />
      <!-- <mat-error *ngIf="!username.valid">
        <span *ngIf="username.errors['email'] && username.dirty"
          >Incorrect email</span
        >
        <span *ngIf="username.errors['required'] && username.pristine"
          >Email is required</span
        >
      </mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        placeholder="Email"
        class="form__input"
        type="email"
        formControlName="email"
        autocomplete="off"
        appearance="outline"
        matInput
      />
      <!-- <mat-error *ngIf="!username.valid">
        <span *ngIf="username.errors['email'] && username.dirty"
          >Incorrect email</span
        >
        <span *ngIf="username.errors['required'] && username.pristine"
          >Email is required</span
        >
      </mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        placeholder="Password"
        class="form__input"
        type="password"
        formControlName="password"
        autocomplete="off"
        appearance="outline"
        matInput
      />
      <!-- <mat-error *ngIf="!password.valid">
        <span *ngIf="password.errors['min']"
          >Password should contain more than 3 symbols</span
        >
        <span *ngIf="password.errors['required']">Password is required</span>
      </mat-error> -->
    </mat-form-field>
    <button mat-button type="submit" class="form__submit">Sign in</button>
    <a routerLink="/register" class="form__redirect"
      ><span>Don't have an account?</span> Register</a
    >
    <a routerLink="/reset-password" class="form__redirect"
      ><span>Forgot password?</span> Reset Password</a
    >
  </form>
</div>
