.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  background: #3070a5;
}

.header-container {
  width: calc(100vw - 30px);
}

.title {
  height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;

  .mat-elevation-z8 {
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 60px);
    background: rgb(165, 191, 240);
    border: solid 1px rgb(70, 69, 69);
    border-bottom: none;
    border-radius: 2px;

    .column-container {
      width: fit-content;
      margin-right: 40px;
    }

    .graph-btn {
      background: none;
    }
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(44, 71, 148);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
