@import "src/app/app.component";

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.form-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-input {
  height: 30px;
  line-height: 10px;
  border: solid 1px #777777;
  border-radius: 3px;
  margin-bottom: 15px;
}

.form-submit {
  display: block;
  color: #fff;
  background: $btn-bg;
  font-weight: bold;

  &:hover {
    background: $btn-hover-bg;
  }
}
