.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  background: #3070a5;
}

.header-container {
  width: calc(100vw - 30px);
  margin-left: 15px;
  margin-right: 15px;
}

.admin-title {
  height: 30px;
  color: #ffffff;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;

  .mat-elevation-z8 {
    width: 50%;
    background: rgb(165, 191, 240);
    border: solid 1px rgb(70, 69, 69);
    border-bottom: none;
    border-radius: 2px;
  }
}
